streamlit
requests
gtts
Pillow
numpy
imageio-ffmpeg
groq
edge-tts
asyncio
google-cloud-texttospeech
google-auth
google-api-python-client
google-auth-oauthlib
beautifulsoup4
openai-whisper
moviepy
google-auth-httplib2
